# Day 4: Pandas

In [1]:
import pandas as pd
import numpy as np

vecsp=pd.read_csv("../data/Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv")

## 1.  How many different companies are represented in the data set?

Remove duplicate companies by comparing "Company Name".
May not be robust if strings do not match exactly - but there is no other field that indicates company.

In [11]:
print(vecsp["Company Name"].nunique(),"companies found in data")

439 companies found in data

## 2.  What is the total number of jobs created for businesses in Queens?

The supplimentary info suggests that the code "Qn" can be used in lieue of "Queens".  There are no examples of this in the present data set, but it's accounted for, regardless.

In [6]:
vecsp.loc[vecsp["Borough"]=="Qn",["Borough"]]="Queens"
vecsp["Job created"]=vecsp["Job created"].astype('Int64')
print(int(vecsp.groupby("Borough")["Job created"].sum()["Queens"]),"jobs created in Queens")

102 jobs created in Queens

## 3.  How many different unique email domain names are there in the data set?

I considered "domain names" to be everything after "@".  Not that there are any "@hotmail.net" or anything...

In [13]:
vecsp["email domain"]=vecsp["company email"].str.lower().str.extract(r'^.*@(.*)$')
print(vecsp["email domain"].nunique(),"email domain names in data")

356 email domain names in data

## 4.  Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

I store the counts in the resulting dataframe along with the "Job created" and "Total Savings".

In [14]:
byNTA=vecsp.groupby("NTA").agg(**{
    "count":("NTA","size"),
    "Job created":("Job created","sum"),
    "Total Savings":("Total Savings","mean")
})
byNTA["Total Savings"]=round(100*byNTA["Total Savings"])/100
byNTA.replace(0,np.nan,inplace=True)
print("List of jobs created and total savings by NTAs:")
print(byNTA[byNTA["count"]>4])

List of jobs created and total savings by NTAs:
                                                  count  Job created  \
NTA
Battery Park City-Lower Manhattan                     9         <NA>
Bushwick South                                       10           10
Carroll Gardens-Columbia Street-Red Hook             11         <NA>
College Point                                         7            2
Crown Heights North                                   9         <NA>
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill     10         <NA>
East New York                                         9           15
East Williamsburg                                    11         <NA>
Greenpoint                                           14         <NA>
Hunters Point-Sunnyside-West Maspeth                 75         <NA>
Hunts Point                                          13           12
Manhattanville                                        9         <NA>
Maspeth                                               9           10
Mott Haven-Port Morris                               14           10
Queensbridge-Ravenswood-Long Island City             16         <NA>
SoHo-TriBeCa-Civic Center-Little Italy                5         <NA>
Springfield Gardens South-Brookville                  5         <NA>
Steinway                                              7           20
Sunset Park West                                     48         <NA>
park-cemetery-etc-Brooklyn                           15         <NA>

                                                  Total Savings
NTA
Battery Park City-Lower Manhattan                     469890.80
Bushwick South                                         26140.46
Carroll Gardens-Columbia Street-Red Hook               24337.39
College Point                                          17159.37
Crown Heights North                                     4036.30
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill       59950.34
East New York                                          48433.09
East Williamsburg                                      13990.63
Greenpoint                                              9753.65
Hunters Point-Sunnyside-West Maspeth                   23931.40
Hunts Point                                            39246.02
Manhattanville                                          2760.89
Maspeth                                                 6658.28
Mott Haven-Port Morris                                 17843.94
Queensbridge-Ravenswood-Long Island City               61830.77
SoHo-TriBeCa-Civic Center-Little Italy                 37214.02
Springfield Gardens South-Brookville                   17757.66
Steinway                                               11227.16
Sunset Park West                                       14316.98
park-cemetery-etc-Brooklyn                             14327.42

## 5.  Save your result for the previous question as a CSV file.

Saved in the `data` directory.

In [15]:
byNTA[byNTA["count"]>4].to_csv("../data/DAY4_out.csv")
print("file saved in \"data/DAY4_out.csv\"")

file saved in "data/out.csv"